body {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    width: 100%;
    background-color: black;
    padding: 1rem 0;
    position: fixed;
}

.nav-section {
    width: 50%;
    display: flex;
}

.button-container {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 4rem;
}

.button {
    margin-right: 1rem;
    width: 30%;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.card {
    background-color: black;
    margin: 1rem;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 0 8px 8px 0 black;
}

.card-image {
    width: calc(100% - 2rem);
}

.card-text-medium {
    width: calc(100% - 2rem);
}

.card-text-large {
    width: calc(100% - 2rem);
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.logo {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
}

p,
a {
    padding: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: block;
}

@media (min-width: 600px){
    .card-image {
        width: calc(50% - 2rem);
    }

    .card-text-medium {
        width: calc(50% - 2rem);
    }

    .button-container {
        justify-content: space-between;
        display: flex;
    }
}


@media (min-width: 1200px) {
    .card-image {
        width: calc(25% - 2rem);
    }

    .card-text-medium {
        width: calc(50% - 2rem);
    }

    .button-container {
        justify-content: space-between;
        display: flex;
    }
}


