.topbar {
   @extend .navbar;
   @extend .navbar-expand-lg;
   @extend .navbar-light;
   @extend .bg-white;
}

.topbar-brand{
  @extend .navbar-brand;
}

.topbar-toggler{
  @extend .navbar-toggler;
}

.topbar-toggler-icon{
  @extend .navbar-toggler-icon;
}

.topbar-collapse{
  @extend .navbar-collapse;
}

.topbar-bar{
  @extend .navbar-nav;
}

.topbar-item{
  @extend .nav-item;
}

.topbar-link{
  @extend .nav-link;
}

.topbar-btn{
  @extend .navbar-btn;
}