.login,
.registration {
  & .control-group {
    & {
      @extend .form-group;
    }

    & *:nth-child(1) {
      @extend label;
    }

    & *:nth-child(3) {
      &.help-text {
        @extend .text-muted, .form-text;
      }
      &.error-text {
        @extend .invalid-feedback;
      }
    }
  }

  // Makes checkboxes clickable even without labels
  & .custom-control-input[type="checkbox"] {
    z-index: 1;
  }
}

.contact-us-group {
  @extend .form-group;
}

.contact-us-control {
  @extend .form-control;
}

.contact-us-control-lg{
  @extend .form-control-lg;
}