<div class="login">
    <div class="group">
        <span>Email address</span>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i data-feather="user"></i></span>
            </div>
            <input type="email" class="form-control" id="input-email" placeholder="name@example.com">
        </div>
    </div>
    <div class="group mb-0">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <label class="form-control-label">Password</label>
            </div>
            <div class="mb-2">
                <a href="#" class="small text-muted text-underline--dashed border-primary" data-toggle="password-text" data-target="#input-password">Show password</a>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i data-feather="key"></i></span>
            </div>
            <input type="password" class="form-control" id="input-password" placeholder="Password">
        </div>
    </div>
    <div class="mt-4">
        <button type="button" class="btn btn-block btn-primary">Sign in</button></div>
</div>