<div class="topbar">
    <div class="container">
        <!-- Brand -->
        <a class="topbar-brand" href="index.html">
            <img src="assets/img/brand/dark.svg" id="topbar-logo">
        </a>
        <!-- Toggler -->
        <button class="topbar-toggler" type="button" data-toggle="collapse" data-target="#topbarCollapse" aria-controls="topbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="topbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse topbar-collapse" id="topbarCollapse">
            <div class="topbar-bar mt-4 mt-lg-0 ml-auto">
                <span class="topbar-item">
                    <a class="topbar-link" href="index.html">Overview</a>
                </span>
                <span class="topbar-item dropdown dropdown-animate" data-toggle="hover">
                    <span class="topbar-link">Pages</span>
                    <div class="dropdown-menu dropdown-menu-single">
                        <a href="index.html" class="dropdown-item">Homepage</a>
                        <a href="about.html" class="dropdown-item">About us</a>
                        <a href="contact.html" class="dropdown-item">Contact</a>
                        <div class="dropdown-divider"></div>
                        <a href="login.html" class="dropdown-item">Login</a>
                    </div>
                </span>
                <lspani class="topbar-item ">
                    <a class="topbar-link" href="docs/index.html">Docs</a>
                </span>
            </div>
            <!-- Button -->
            <a class="topbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" href="https://github.com/webpixels/quick-website-ui-kit-demo/archive/master.zip">
                Download Free
            </a>
            <!-- Mobile button -->
            <div class="d-lg-none text-center">
                <a href="https://webpixels.io/themes/quick-website-ui-kit" class="btn btn-block btn-sm btn-warning">See more details</a>
            </div>
        </div>
    </div>
</div>