<div class="registration">
    <div class="row">
        <div class="col">
            <div class="group mb-5">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" placeholder="John" name="first_name" required>
            </div>
        </div>
        <div class="col">
            <div class="group mb-5">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" placeholder="Doe" name="last_name" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="group mb-5">
                <label for="email">Email</label>
                <input type="text" class="form-control" placeholder="example@mail.com" name="email" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="group mb-5">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Doe" name="password">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="group mb-5">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="terms_agreement">
                    <label class="custom-control-label" for="terms_agreement">By creating an account means you agree to the Terms and Conditions, and our Privacy Policy</label>
                </div>
            </div>
            <div class="group mb-5">
                <input type="checkbox" class="custom-control-input" name="newsletter_agreement">
                <label class="custom-control-label" for="newsletter_agreement">I consent to receive promotional emails</label>
            </div>
        </div>
    </div>

    <button type="submit">Create my account</button>
</div>


