#container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  min-width: 30rem;
}

#title {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  margin: 2rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: white;
}

#img {
  width: 100%;
}

#description {
  position: absolute;
  top: 5rem;
  margin: 4rem 2rem;
  padding: 2rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: white;
  background: rgba(0, 0, 0, 0.3);
}

.hide {
  transition: opacity 0.8s linear;
  opacity: 0;
}

.show {
  transition: opacity 0.8s linear;
  opacity: 1;
}
