.card__root{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 4rem;

    &__card{
        background-color: $base-background-color;
        margin: $default-margin;
        justify-content: center;
        
        border-radius: 0px 25px;
        box-shadow: 0 8px 8px 0 $base-background-color;

        &--image-container{
            width: calc(100% -  2*$default-margin);
            @media (min-width: $tablet-breakpoint){
                width: calc(50% -  2*$default-margin);
            }
            @media (min-width: $desktop-breakpoint){
                width: calc(25% -  2*$default-margin);
            }
        }

        &__image{
            width: 100%;
            height: 100%;
            border-radius: 25px;
        }

        &--text-medium{
            width: calc(100% -  2*$default-margin);
            @media (min-width: $tablet-breakpoint){
                width: calc(50% -  2*$default-margin);
            }
            @media (min-width: $desktop-breakpoint){
                width: calc(50% -  2*$default-margin);
            }
        }

        &--text-large{
            width: calc(100% -  2*$default-margin);
        }
    }
}