.foot__root{
    @include color-font-standard;
    margin-top: $default-margin;
    display: block;

    &__link:hover{
       font-weight: bolder;
    }

    @media (min-width: $desktop-breakpoint) {
        display: flex;
    }
}