.nav__root{
    @include color-font-standard;
    position: fixed;
    display: flex;

    &__section{
        width: 50%;
        display: flex;

        &__button-container{
            display: none;
            @media (min-width: $tablet-breakpoint){
                justify-content: space-between;
                display: flex;
            }
        }
    }
}