body {
  padding: 0;
  margin: 0;
}

button {
  margin-right: 1rem;
  width: 30%;
  background-color: $contrast-background-color;
  color: $contrast-font-color;
  font-weight: bolder;
  border-radius: 10px;
  font-family: $primary-font;
}

p,
a {
  padding: 1rem;
  color: $base-font-color;
  font-family: $primary-font;
  font-size: 1rem;
  display: block;
}
